.header {
  width: 100%;
  height: 96px;
  border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  background-color: var(--header);
  color: white;
}

.headerCenter {
  margin: 0 auto;
  max-width: 1110px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 20px;
  font-size: 13px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 2px;
}

.nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
