.styledMain {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.styledSection {
  width: clamp(70%, 100%, 1110px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.styledDiv {
  display: flex;
  justify-content: space-between;
}
